<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <!--<add name="db" connectionString="Data Source=DMITRII-PC\SQLEXPRESS;Initial Catalog=WizDataStorage;User ID=sa;Password=12345678" />-->
    <add name="db" connectionString="Data Source=AMAZUR-E550\TESTDB;Initial Catalog=WizDataStorage;User ID=sa;Password=wizdatasys" />
  </connectionStrings>

  <appSettings>
    <add key="appToken" value="b71abbefbabbab4081bb1cbb4e687ea4c69f" />
    <add key="OAuthConsumerKey" value="b71abbefbabbab4081bb1cbb4e687ea4c69f" />
    <add key="OAuthConsumerSecret" value="b71abbefbabbab4081bb1cbb4e687ea4c69f" />
    <add key="QbFile" value="C:\www\Sample Express, Inc..QBW"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>